<launch>

  <arg name="loop_rate" default="10"/>
  <arg name="base_frame" default="map"/>

  <node name="lidar_fusion_node"    pkg="beginner_tutorials"  type="lidar_fusion" output="screen">
  <param name="loop_rate"         type="int" value="$(arg loop_rate)"/>
  <param name="base_frame"        type="string" value="$(arg base_frame)"/>
  </node>

  <node name="tf_broadcaster_node"    pkg="beginner_tutorials" type="tf_broadcaster" output="screen"/>

</launch>
