<!--
  Used for visualising rplidar in action.  
  
  It requires rplidar.launch.
 -->
<launch>
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />
  <node name="static_laser_map" pkg="tf" type="static_transform_publisher" 
   args="0 0 0 0 0 0 map laser 100"/>

</launch>
